<!DOCTYPE html>
<html lang="en">
  <head>
    {% include 'bootstrap.html' %}
    <title>Jovian Careers</title>

  </head>

  <body>
    {% include 'nav.html' %}
    {% include 'banner.html' %}
    <div class="container">
      <h1 class="text-center my-4">JOVIAN CAREERS</h1>

      <div class="row" style="margin-bottom: 16px">
        <div class="col-md-6">
          <p class="lead">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis
            culpa tenetur esse, beatae doloremque praesentium rem dolor, aliquid
            facilis, quos fugit perferendis? Nisi quia quod quo nesciunt. Illo
            sequi dolores, possimus facere aspernatur vitae corporis ullam, est
            maxime maiores veniam eos rerum perspiciatis dolorem et ea.
            Pariatur, magnam ducimus dolores inventore veritatis minima, fugit
            impedit consequatur facilis omnis nisi facere minus eos, animi
            tempore nulla explicabo obcaecati nobis consequuntur delectus vero
            necessitatibus quaerat harum! Architecto velit eos atque alias enim
            aut dolores iusto quod? Autem dolores cum veniam quia in sint
            accusantium obcaecati ducimus molestias, repudiandae, cupiditate
            enim consequatur omnis!
          </p>
        </div>
        <div class="d-none d-md-block col-md-6">
          <img
            src="/static/people.jpg"
            alt="people working in jovian"
            style="height: 320px; border-radius: 4px"
          />
        </div>
      </div>

      <h2 class="text-center my-4">Open Positions</h2>
      <div class="lead">
        {% for job in jobs %} {% include 'jobitem.html' %} {% endfor %}
      </div>
      <div class="text-center mt-4">
        <a
          href="mailto:hello@jovian.ai?subject=Questions%20about%20job%20opening.&body=My%20Name%20%3A%20%3Cname%3E%0D%0A%0D%0AMy%20Question%20%3A%20%3Center%20questions%20here%3E"
          class="btn btn-primary btn-lg"
          >Contact Us</a
        >
      </div>
    </div>

    {% include 'footer.html' %}
  </body>
</html>
